header {
    background-color: #DC1588;
}

header nav .navbar-brand {
    color: #fff;
}

header nav h3 {
    color: #FFFF63;
}

.booking {
    padding: 3rem 0;
    width: 800px;
    margin: 0 auto;
}

.booking-title {
    text-align: center;
    font-size: 2rem;
    color: blue;
    margin-bottom: 1rem;
}

.booking-table {
    border-collapse: collapse;
    width: 100%;
}

.booking-table tr {
    min-height: 3rem;
}

.booking-table td,
.booking-table th {
    border: 1px solid blue;
    padding: 8px;
    background-color: darkorange;
}

.booking-table th {
    text-align: left;
    width: 20%;
}

.booking-table td {
    width: 80%;
}

.booking-table td input,
.booking-table td textarea {
    width: 90%;
    padding: 5px 10px;
}

.booking-table td input[type="radio"],
#adult,
#children {
    width: unset;
}

.booking-table td[colspan="2"] {
    text-align: center;
}

.booking-table button {
    border: 0;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
}

#agree {
    background: green;
}

#reset {
    background: red;
}